<div class="ms-menu px-3">
    <div class="ms-menu-logo">
        <img src="https://minstyle.io/img/logo.png" />
    </div>
    <nav class="ms-menu-link">
        <input type="checkbox" id="ms-menu-toggle" />
        <label for="ms-menu-toggle" class="ms-menu-icon"
            ><i class="fa fa-bars"></i
        ></label>
        <ul>
            <li><a href="">EN</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Orders</a></li>
            <li><input type="text" placeholder="Search everything" name="" id="" /></li>
        </ul>
    </nav>
</div>