<div class="ms-menu">
    <div class="ms-menu-logo">
        <img src="https://minstyle.io/img/logo.png" />
    </div>
    <nav class="ms-menu-link">
        <input type="checkbox" id="ms-menu-toggle" />
        <label for="ms-menu-toggle" class="ms-menu-icon"
            ><i class="fa fa-bars"></i
        ></label>
        <ul>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
            <li><input type="text" placeholder="search" name="" id="" /></li>
        </ul>
    </nav>
</div>